/* VARIABLES */
/*FONT*/
@font-face {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  src: local("Roboto"), local("Roboto"), url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Roboto:wght@300&display=swap"); }

@font-face {
  font-family: Didot;
  src: url("https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap"); }

/*COLORS*/
/*SPACING*/
/*BORDER*/
/*WIDHT*/
/*WIDHT*/
/*HEIGHT*/
/*GLOBALS*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62,5%; }

ul {
  list-style-type: none; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  text-decoration: inherit; }

li a {
  text-decoration: inherit; }

/*PARTIALS*/
/*Header*/
header {
  width: 80% height auto;
  font-family: Didot; }

.navbar {
  display: flex;
  font-size: 0;
  padding: 1rem 3rem;
  background-color: #000000; }
  .navbar__logo {
    width: 20%;
    padding: 1rem 0;
    display: inline-block; }
  .navbar__logo img {
    width: 30%;
    max-height: 70px;
    display: inline-block; }

.navbar__menu {
  height: 100%;
  font-size: 16px;
  width: 80%;
  display: inline-block;
  text-align: center; }
  .navbar__menu__item {
    display: inline-block;
    margin: 0.9rem 1rem;
    position: relative; }
  .navbar__menu__item:hover > a {
    background-color: #1B4D3E;
    color: gold; }
  .navbar__menu a {
    display: block;
    color: #ac851b;
    font-size: .9rem;
    transition: ease 0.3s;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    background-color: #2b2b2b; }

.navbar__menu__item__submenu {
  color: #ac851b;
  display: none;
  font-size: 12px;
  position: absolute;
  padding: 0.6 0.3rem;
  min-width: 100px;
  text-align: left; }

.navbar .navbar__menu > li:hover > .navbar__menu__item__submenu {
  display: block; }

.navbar__menu__item__submenu__item:hover > a {
  background-color: #1B4D3E;
  color: gold;
  display: block;
  padding: 1rem 1.5rem;
  width: 100%;
  border-radius: 0.9rem; }

.navbar__menu__item__submenu__item > a {
  display: block;
  padding: 1rem 1.5rem;
  width: 100%;
  color: #ac851b;
  border-radius: 0.9rem;
  background-color: none; }

.navbar__menu > .navbar__menu__item__submenu__item > li:hover > a {
  color: cornflowerblue; }

@media (max-width: 1000px) {
  .navbar__menu {
    width: 100%;
    display: grid; } }

@media (max-width: 1000px) {
  .navbar__menu > li > a {
    width: 70%;
    font-size: 10px;
    display: grid;
    margin: 0.6rem 0.8rem; } }

@media (max-width: 1000px) {
  .navbar__menu > li .navbar__menu__item__submenu > li > a {
    width: 100%;
    font-size: 7px;
    height: auto; } }

@media (max-width: 574px) {
  .Navegacion {
    width: 100%;
    margin-bottom: 30px; } }

@media (max-width: 360px) {
  .Navegacion .Menu {
    width: 100%;
    font-size: 3px;
    display: grid; } }

@media (max-width: 360px) {
  .Navegacion .Menu > li > a {
    width: 100%;
    font-size: 8px;
    display: grid; } }

@media (max-width: 360px) {
  .Navegacion .Menu > li .Submenu {
    width: 100%;
    font-size: 5px;
    height: auto; } }

/* EstiloFooter*/
.footer {
  width: 100%;
  background-color: #000000;
  padding: 2rem 1rem; }
  .footer__contenedor {
    max-width: 1000px;
    margin: auto; }
    .footer__contenedor__columna {
      display: flex;
      flex-wrap: wrap;
      align-self: flex-end; }
      .footer__contenedor__columna__uno {
        width: 40%;
        padding: 0 10px; }
        .footer__contenedor__columna__uno {
          font-size: 15px;
          color: #ffffff;
          text-transform: capitalize;
          margin-bottom: 10px;
          font-weight: 200;
          font-family: Didot;
          position: relative; }

.footer__contenedor__columna__uno__redes__a {
  list-style: none; }

.footer__contenedor__columna__uno ul li {
  margin-bottom: 8px; }

.footer__contenedor__columna__uno ul li a {
  font-size: 16px;
  color: #ffffff;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease; }

.footer__contenedor__columna__uno__redes__b a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #000000;
  margin: 0 10px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  transition: background-color  .5s; }
  .footer__contenedor__columna__uno__redes__b a {
    color: #000000;
    background-color: lavender; }

/* PAGES */
body.Fondo__Eco {
  background-image: radial-gradient(circle, #0b0d0b, #090c09, #080c08, #060b06, #040a04, #050902, #050701, #060600, #070400, #060200, #030101, #000000);
  opacity: 0.9; }

.titulo__eco {
  color: honeydew;
  text-align: center;
  font-size: 2.3em;
  font-family: Didot; }

/*CajasEco*/
#reciclaje {
  font-family: Didot;
  width: 90%;
  height: 90%;
  background: #1B4D3E;
  padding: 30px;
  border: 0.5rem solid;
  position: relative;
  margin-left: auto;
  margin-right: auto; }
  #reciclaje {
    display: inline-flexbox; }
  #reciclaje #reciclaje__plan {
    background-color: #000000;
    color: seashell; }
  #reciclaje__plan {
    width: 100%;
    height: 75%;
    padding: 40px;
    display: inline-block;
    text-align: center; }
    #reciclaje__plan .reciclaje__plan__item1 {
      color: turquoise;
      font-size: .8em;
      text-align: center; }
    #reciclaje__plan .reciclaje__plan__item1__texto {
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: small;
      text-align: start; }

@media (max-width: 1030px) {
  #PrincipalP {
    font-size: 0.8rem; } }

@media (max-width: 780px) {
  #PrincipalP {
    font-size: 0.6rem; } }

@media (max-width: 260px) {
  #PrincipalP {
    grid-template-columns: 1fr;
    grid-template-rows: repeat 3, 40rem; } }

@media (max-width: 100px) {
  #PrincipalP .Uno {
    grid-column: 1fr;
    flex-direction: repeat 3, 40rem; } }
