
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');

/* Estilo del menu Inicio */
    *{
        padding:0;
        margin:0;
        box-sizing: border-box;
    }

    html{
        font-size: 62.5%;
        font-family: Didot;
    }

    ul, ol {
        list-style-type: none;
        padding: 0;
        margin: 0;
        
    }
    a {
        text-decoration: none; 
        text-decoration: inherit;  
    }
    li a{
          text-decoration: inherit; 
    }
    /*Header*/
    header{
        width: 100%;  
    }

    .Navegacion {
        font-size: 0;
        padding: 1rem 5rem;
        background-color: black;
        font-family: Didot;
    }
    .Navegacion .logo{
        width: 20%;
        padding: 1rem 0; 
        display: inline-block;
    }

    .Navegacion .logo img {
        width: 30%;
        max-height: 70px;
        display: inline-block;
    }

    .Navegacion .Menu{
        height: 100%;
        font-size: 16px;
        width: 80%;
        display: inline-block;
        text-align: center;
        padding: 1rem 0;
    }

    .Navegacion .Menu >li{
       display: inline-block;
       margin: 0.9rem 1rem;
       position: relative;
     }

     .Navegacion .Menu > li > a{
         display: block;
         color:#ac851b;
         font-size: 1.4rem;
         transition: ease 0.3s;
         padding: 1rem 1.5rem;
         border-radius: 1rem;
         background-color: #2b2b2b;    
     }

     .Navegacion .Menu > li:hover > a{
      background-color: #1B4D3E;    
      color: gold;
    }

    .Navegacion .Menu .Submenu{         
        color:#ac851b;;
        display: none;
        font-size: 12px;
        position: absolute;
        padding: 0.6 0.3rem;
        min-width: 100px;
        text-align: left;
    }
    
    .Navegacion .Menu > li:hover > .Submenu{
        display: block;}

    .Navegacion .Menu > li > .Submenu >li >a {
            width: 99px;
        }    

    .Navegacion .Menu > li > .Submenu >li >a {
        display: block;
        padding: 1rem 1.5rem;
        width: 100%;
        color:#ac851b;
        border-radius: 0.9rem;
        background-color:#1B4D3E;  
        }
        
    .Navegacion .Menu > li > .Submenu >li:hover >a {
       background-color: #1B4D3E;
       color: gold;
    }


    @media (max-width: 860px){
        .Navegacion .Menu{
            width: 100%;
            display: grid;
        }
    }

    @media (max-width: 860px){
        .Navegacion .Menu >li >a{
            width:  70%;
            font-size: 10px; 
            display: grid;
            margin: 1rem 0.8rem;

        }   
    }

    @media (max-width: 860px){
        .Navegacion .Menu >li .Submenu {
            width: 50%;
            font-size: 9px; 
            height: auto;

        }
    }


    
    @media (max-width: 574px){
        .Navegacion{
            width: 100%;
            margin-bottom: 30px;
        }
    }

    @media (max-width: 360px){
        .Navegacion .Menu{
            width: 100%;
            font-size: 3px; 
            display: grid;

        }
    }
    @media (max-width: 360px){
        .Navegacion .Menu >li >a{
            width: 100%;
            font-size: 8px; 
            display: grid;

        }
        
    }

    @media (max-width: 360px){
        .Navegacion .Menu >li .Submenu {
            width: 50%;
            font-size: 5px; 
            height: auto;

        }
    }
        
     /* Estilo del menu cierre */


    /*FlexboxEnPaginaPrincipal*/
    
    body.julio{
     
        min-height: 70vh;
        background-image: radial-gradient(circle, #0b0d0b, #090c09, #080c08, #060b06, #040a04, #050902, #050701, #060600, #070400, #060200, #030101, #000000);
    }

    .bg-2{
        background: inherit;
        font-family: "Didot";
        font-size: 105px;
      font-style: normal;
        color: #ac851b;
        -webkit-text-stroke: 2px black;
      }

    #PrincipalP.Portada{
        height: 900px;
        max-width: 1280px;
        margin: 0 auto;
        background-image: radial-gradient(circle, #0b0d0b, #090c09, #080c08, #060b06, #040a04, #050902, #050701, #060600, #070400, #060200, #030101, #000000);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 4fr;
        grid-template-rows: 30rem 30rem;
        gap: 1rem;    
    }
    
    .Uno{
        grid-column: 1/4;
        text-align: center;
        display: grid;
        gap: 2rem;
        align-items: center;
    }

    #PrincipalP.Portada .Uno{
        font-style: italic;
        font-size: 2em;
        color: honeydew;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }


    #PrincipalP .img-left{
        background-image: url("../media/img/pprincipal3.jpg");
        background-size: cover;
    }

    #PrincipalP .img-right{
        background-image: url("../media/img/pprincipal2.jpg");
        background-size: cover;
    }
  
    #PrincipalP .img-top{
        background-image: url("../media/img/pprincipal5.jpg");
        background-size: cover;
    }
    
    #PrincipalP .img-bottom{
        grid-column: 1/4;
        background-image: url("../media/img/moconaperfil.jpg");
        background-size: cover;

    }     
  

/*CaracteristicasGeneralesDeQuienesSomos*/
.Contenedor1{
    width: 100%;
    margin: 0;
    overflow: hidden;
    
}

body.Misiones{
    box-sizing: border-box;
    background-image: radial-gradient(circle, #2d302d, #292b28, #262623, #22221f, #1e1d1b, #1b1a18, #181715, #141312, #100f0f, #0c0b0a, #060505, #000000);
    background-repeat: none;
}

.Gral{
    display: flex;
}

#General{
    width: 100%;
}


/*TituloQuienesSomos*/
h1.QS {    
    margin-top: 10px;
    text-align: center;
    font-family: Didot;
    font-size: 2.4em;
    color: white;
}

/*Caja1QuienesSomos*/
div#Texto1{
     float: left;
     width: 40%; 
     height: 25%;
     padding: 20px;
     color: white;
     font-family: Didot;
     font-size: 14px;
     text-align: justify;
     margin: auto;
}

/*Caja2QuienesSomos*/
div#Texto2{
    float: right;
    width: 40%; 
    height: 25%;
    padding: 20px;
    color: white;
    font-family: Didot;
    font-size: 14px;
    text-align: justify;
    margin: auto;
}

h2.Act{
  
    text-align: center;
    font-family: Didot;
    font-size: 2.4em;
    color: white;
}


.Texto3{
    padding: 20px;
    color: white;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-align: justify;
    margin: auto;
}

.carousel-item img.QM {
    width: 500px;
    height: 380px;
}

.Container2{    
     display: grid;
 }
 
#carousel-inner2{
height: 250px;
padding: 10px;
transform: rotate (45deg);
}


/*Alineaciónvideo*/

div#Video {
    text-align: center;
}


/*CaracteristicasDelBloqueCabañas*/

.row > div{
    background: black;
  }
  
  
  /* Screen larger than 600px? 2 column */
  @media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
  }
  
  /* Screen larger than 900px? 3 columns */
  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
  }


.Fondo{
    background-image: url(../media/img/273057628.jpg);
    background-size: 100%;
    background-repeat:repeat-y;
    width: 100%;
}

.Cabanas {
    font-size: 3em;
    text-align: center;
    font-family: Didot;
    color:honeydew;
}

.Cabañas2{
    padding-top: 3px;
    font-family: Didot;
    text-align: center;
    color:#ac851b;
    font-size: 25px;
}

.row > div > p{
    font-size: 17px;
    font-family: Didot;
    color:honeydew;
    text-align: justify;
}

/* EstiloFooter*/
.container{
    max-width: 1000px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-self:flex-end;
}

.footer{
    width: 100%;
    background-color: black;
    padding: 2rem 1rem;
   
   }

.footer-col{
    width: 40%;
    padding: 0 10px;
}   
.footer-col{
    font-size: 15px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: 200;
    font-family: Didot;
    position: relative;
  
}

.footer-col h4::before{
    content: '';
    position:absolute;
    left:0;
    bottom: -10px;
    height: 2px;
    box-sizing:0 ;
}


ul.redes{
    list-style: none;
}
   
.footer-col ul li{
    margin-bottom: 8px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col .redes-sociales a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.footer-col .redes-sociales a
{
    color: #24262b;
    background-color:lavender;
    
}

@media (max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px){
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }
}

/*EstiloFormulariodeReservas*/
.TuReserva{
    background-image:url(../media/img/reserva.jpg);
    background-size: 100%;
    background-repeat:round;
    text-align: auto;
}

.Htr{
    text-align: center;
    font-family: Didot;
    color:honeydew;
}


#Reserva{ 
    min-height: 100vh; 
    font-size: 1.2em; 
}

#Reserva2{
      max-width: 240vh;
      height: 100vh;
      font-size: 1.2em;
      font-weight: bold;
      color: white;  
      background-size: 100%;
          
}

.One{
    margin-top: 30px;
    margin: 30px;    
}

.Two{
    margin: 30px;
}

.Three{
    margin: 30px;
}

.Four{
    margin-top: 10px;
    margin: 30px;
}

.Five{
    margin: 30px;
    text-align: center;
}

.Six{
    margin: 30px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*EstiloFormulariodeReservasCierre*/


/*Elviaje*/
.Embed-container{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    padding-top: 10px;
}

 .Embed-container iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }    




/*Responsive*/





 @media (max-width: 1030px){
        #jujuy{
     font-size:  0.8rem; 
 }
}

@media  (max-width: 780px)
 {
 #jujuy{
     font-size: 0.6rem; 
 }  
}

@media (max-width: 260px){
 #jujuy{
     grid-template-columns: 1fr; 
     grid-template-rows: repeat (3, 40rem);
 }
}

@media (max-width: 100px){
 #PrincipalP .Uno{
     grid-column: 1fr;
     flex-direction: repeat (3, 40rem);
 }
}
















    /*ERROR404 ESTILOS*/
  
    body#E404{
        margin: 0px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: black;
    }

    h1.animatedbounce{
        margin: 0px;
        color: red;
        font-size: 60px;
       
    }

    section.ErrorMessage{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
      
    }

    section.ErrorMessageContainer{
        text-align: center;
        
    }

    section.Huston{
        width: 83%;
        height: 43%;
       background-image: url(../media/img/huston.jpg);
       background-repeat: no-repeat;
       text-align: center;
    }

    p.P404 a{
        font-size: 20px;
        color: white;
    }


    h1.animatedbounce {
        animation-duration: 2.5s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
    }

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40%{transform: translateY(-30px);}
    60%{ transform: translateY(-15px);}
}

.animatedbounce{
    animation-name: bounce;
}
    