
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Roboto:wght@300&display=swap');

/* Estilo del menu Inicio */
    *{
        padding:0;
        margin:0;
        box-sizing: border-box;
    }

    html{
        font-size: 62.5%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    ul, ol {
        list-style-type: none;
        padding: 0;
    }
    a {
        text-decoration: none; 
        text-decoration: inherit;  
    }
    li a{
          text-decoration: inherit; 
    }
    /*Header*/
    header{
        width: 100%;
        height: auto;
    }
    .Navegacion {
        font-size: 0;
        padding: 1rem 3rem;
        background-color: black;
    }
    .Navegacion .logo{
        display: inline-block;
        width: 20%;
        padding: 2rem 0; 
    }
    .Navegacion .logo img {
        max-width: 100%;
        max-height: 60px;
    }

    .Navegacion .Menu{
        height: 100%;
        font-size: 16px;
        width: 80%;
        display: inline-block;
        text-align: center;
    }

    .Navegacion .Menu >li{
       display: inline-block;
       margin: 0.9rem 1rem;
       position: relative;
     }

     .Navegacion .Menu > li > a{
         display: block;
         color: #48C9B0;
         font-size: 1.4rem;
         transition: ease 0.3s;
         padding: 1rem 1.5rem;
         border-radius: 1rem;
         background-color: #2b2b2b;
         
     }

     .Navegacion .Menu > li:hover > a{
      background-color: #1B4D3E;    
      color: gold;
      
    }


    .Navegacion .Menu .Submenu{         
        color: rgb(145, 170, 238);
        display: none;
        font-size: 12px;
        position: absolute;
        padding: 0.6 0.3rem;
        min-width: 100px;
        text-align: left;
    }
    
    .Navegacion .Menu > li:hover > .Submenu{
        display: block;}

    .Navegacion .Menu > li > .Submenu >li >a {
            width: 99px;
        }    

    .Navegacion .Menu > li > .Submenu >li >a {
        display: block;
        padding: 1rem 1.5rem;
        width: 100%;
        color:#48C9B0;
        border-radius: 0.9rem;

    }
        
    .Navegacion .Menu > li > .Submenu >li:hover >a {
       background-color: #1B4D3E;
       color: cornflowerblue;
    }
         
     /* Estilo del menu cierre */


    /*FlexboxEnPaginaPrincipal*/
    
    body.julio{
     
        min-height: 150vh;
        background-color: black;
          
    }

    .bg-2{
        background: inherit;
      }
    
    .t-stroke-shadow {
        font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
        font-size: 50px;
        padding: 80px 50px;
        text-align: center;
        text-transform: uppercase;
        text-rendering: optimizeLegibility;
        color: #1B4D3E;
        text-shadow: -2px 2px #ffffff, -2px -2px #ffffff, 2px -2px #ffffff, 2px 2px #f3f3f2, 5px 5px #324b49;
    }
    
    #PrincipalP.Portada{
        height: 900px;
        max-width: 1280px;
        margin: 0 auto;
        background-image: radial-gradient(circle, #2d302d, #292b28, #262623, #22221f, #1e1d1b, #1b1a18, #181715, #141312, #100f0f, #0c0b0a, #060505, #000000);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 4fr;
        grid-template-rows: 30rem 30rem;
        gap: 1rem;    
    }
    
    .Uno{
        grid-column: 1/4;
        text-align: center;
        display: grid;
        gap: 2rem;
        align-items: center;
    }

    #PrincipalP.Portada .Uno{
        font-style: italic;
        font-size: 2em;
        color: honeydew;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }


    #PrincipalP .img-left{
        background-image: url("../media/img/pprincipal3.jpg");
        background-size: cover;
    }

    #PrincipalP .img-right{
        background-image: url("../media/img/pprincipal2.jpg");
        background-size: cover;
    }
  
    #PrincipalP .img-top{
        background-image: url("../media/img/pprincipal5.jpg");
        background-size: cover;
    }
    
    #PrincipalP .img-bottom{
        grid-column: 1/4;
        background-image: url("../media/img/moconaperfil.jpg");
        background-size: cover;

    }
    
    @media screen  and (max-width){}
        
  

/*CaracteristicasGeneralesDeQuienesSomos*/

body.Misiones{
    
    box-sizing: border-box;
    background-image: radial-gradient(circle, #2d302d, #292b28, #262623, #22221f, #1e1d1b, #1b1a18, #181715, #141312, #100f0f, #0c0b0a, #060505, #000000);
    background-repeat: none;
   
}

.Gral{
    display: flex;
    display: inline-block;
}

div#General{
    width: 1200px;
    height: 200px;
    padding-top: 50px;
    margin: 25px 25px 25px 25px; 
}

.Video1 {
    width: 1050px;
    margin: 50px 50px 50px 30px; 
    padding-top: 10px;
}

/*TituloQuienesSomos*/
h1.QS {    
    margin-top: 10px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4em;
    color: white;
}

/*Caja1QuienesSomos*/
div#Texto1{
     float: left;
     width: 550px; 
     height: 250px;
     padding: 20px;
     color: white;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 14px;
     text-align: justify;
}

/*Caja2QuienesSomos*/
div#Texto2{
    float: right;
    width: 550px; 
    height: 250px;
    padding: 20px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-align: justify;
}

h2.Act{
  
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 4em;
    color: white;
}


.Texto3{
    padding: 20px;
    color: white;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-align: justify;
}


.carousel-item img.QM {
    width: 500px;
    height: 380px;
}

.Container2{    
     display: grid;
 }
 
#carousel-inner2{
height: 250px;
padding: 10px;
transform: rotate (45deg);
}


/*Alineaciónvideo*/

div#Video {
    text-align: center;
}

/*CaracteristicasDelBloqueCabañas*/


.h1Cabañas{
    margin-top: 35px;
    margin-bottom: 20px;
    font-size: 5em;
    color: white;
    text-align: center;
}

.Fondo{
    background-image: url(../media/img/273057628.jpg);
    background-size: 100%;
    background-repeat:round;
    text-align: auto;
    
}



/*Caja1Cabañas*/
div#cabaña1{
    float: left;
    width: 550px; 
    height: 250px;
    padding: 20px;
    background-image: linear-gradient(to left top, #ff6e00, #df6303, #c05706, #a34c08, #86400a, #7f4505, #794801, #724c00, #766300, #707c00, #599600, #04b10b); opacity: 0.8;
    box-sizing: border-box;
    border: 2px solid;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-align: justify;}
   
/*Caja1Cabañas*/
div.carousel-inner{
    float: right;
    width: 550px; 
    height: 250px;
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid;
    color: whitesmoke;
    text-align: justify;
    transform: rotate (45deg);
}   


img{
    width: 100px;
    height: 200px;
}


#carousel-inner{
    float: left;
    margin-left: 40px;
}
    
   /*Caja2Cabañas*/
div#cabaña2{
    float: left;
    width: 550px; 
    height: 250px;
    padding: 20px;
    background-image: linear-gradient(to left top, #000000, #060505, #0c0a09, #110e0d, #141210, #241c11, #322611, #3e320f, #504d01, #576b00, #4d8d00, #04b10b);
    box-sizing: border-box;
    border: 2px solid;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-align: justify;}   

   /*Caja2Cabañas*/
div#slidercabaña2{
    float: left;
    width: 550px; 
    height: 250px;
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;}   

   div.slidercabaña2{
    width: 10px;
    margin: auto;
}

.slidercabaña2 img {
    width: 100%;
}


    /*Caja3Cabañas*/
div#cabaña3{
    float: left;
    width: 550px; 
    height: 250px;
    padding: 20px;
    background-image: linear-gradient(to left top, #ff6e00, #df6303, #c05706, #a34c08, #86400a, #7f4505, #794801, #724c00, #766300, #707c00, #599600, #04b10b); opacity: 0.8;
    box-sizing: border-box;
    border: 1px solid;
    color: whitesmoke;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-align: justify;}   


   /*Caja3Cabañas*/
   div#slidercabaña3{
    float: right;
    width: 550px; 
    height: 250px;
    padding: 20px;
}
   
div.slidercabaña3{
    width: 10px;
    margin: auto;
}
div.slidercabaña3 ul {
    width: 10x;
    display: flex;
    padding: 0;
    animation: cambio 20s infinite alternate;
    animation-timing-function: ease-in;
}

.slidercabaña3 li {
    width: 60%;
    list-style: none;
}
.slidercabaña3 img {
    width: 100%;
}

div.carousel-inner{
    float: inherit;
}

.footer-col{
    width: 50%;
    margin: auto;
}


/* EstiloFooter*/
.container{
    max-width: 1000px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    align-self:flex-end;
}

.footer{
    width: 100%;
    background-color: black;
    padding: 2rem 1rem;
   
   }

.footer-col{
    width: 40%;
    padding: 0 10px;
}   
.footer-col{
    font-size: 15px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-weight: 200;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: relative;
  
}

.footer-col h4::before{
    content: '';
    position:absolute;
    left:0;
    bottom: -10px;
    height: 2px;
    box-sizing:0 ;
}


ul.redes{
    list-style: none;
}
   
.footer-col ul li{
    margin-bottom: 8px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col .redes-sociales a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.5s ease;
}


 /*ColoresDeRedesSociales*/
.footer-col .redes-sociales a
{
    color: #24262b;
    background-color:lavender;
    
}

@media (max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px){
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }
}
/*Se debe corregir el footer*/

/*EstiloFormulariodeReservas*/
.TuReserva{
    background-image:url(../media/img/reserva.jpg);
    background-size: 100%;
    background-repeat:round;
    text-align: auto;

}

h1.Htr{
    color: white;
    text-align: center;

}


#Reserva{ 
    min-height: 100vh; 
    font-size: 1.2em; 
}

#Reserva2{
      max-width: 240vh;
      height: 100vh;
      font-size: 1.2em;
      font-weight: bold;
      color: white;  
      background-size: 100%;
          
}

.One{
    margin-top: 30px;
    margin: 30px;    
}

.Two{
    margin: 30px;
}

.Three{
    margin: 30px;
}

.Four{
    margin-top: 10px;
    margin: 30px;
}

.Five{
    margin: 30px;
    text-align: center;
}

.Six{
    margin: 30px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/*EstiloFormulariodeReservasCierre*/


/*EstiloQueTanCercaEstamos*/
#tabla .distancia{
   padding:0;
   margin: 0, auto;
 
}


    /*Responsive*/

   @media (max-width: 1030px){
               #PrincipalP{
            font-size:  0.8rem; 
        }
    }

    @media  (max-width: 780px)
        {
        #PrincipalP{
            font-size:  0.6rem; 
        }  
      }

    @media (max-width: 260px){
        #PrincipalP{
            grid-template-columns: 1fr; 
            grid-template-rows: repeat (3, 40rem);
        }
    }

    @media (max-width: 100px){
        #PrincipalP .Uno{
            grid-column: 1fr;
            flex-direction: repeat (3, 40rem);
        }
    }


    /*ERROR404 ESTILOS*/
  
    body#E404{
        margin: 0px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: black;
    }

    h1.animatedbounce{
        margin: 0px;
        color: red;
        font-size: 60px;
       
    }

    section.ErrorMessage{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: 100%;
      
    }

    section.ErrorMessageContainer{
        text-align: center;
        
    }

    section.Huston{
        width: 83%;
        height: 43%;
       background-image: url(../media/img/huston.jpg);
       background-repeat: no-repeat;
       text-align: center;
    }

    p.P404 a{
        font-size: 20px;
        color: white;
    }


    h1.animatedbounce {
        animation-duration: 2.5s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
    }

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40%{transform: translateY(-30px);}
    60%{ transform: translateY(-15px);}
}

.animatedbounce{
    animation-name: bounce;
}
    