*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62,5%;
    
}

ul{
    list-style-type: none;
}

li{
    list-style-type: none;

}

a{ 
    text-decoration: none;
    text-decoration: inherit;
}

li a{
    text-decoration: inherit;
}