
/*Header*/
header{
    width: $ancho-xxl
    height auto;
    font-family:Didot;
}

    .navbar{
        display: flex;
        font-size: 0;
        padding: 1rem 3rem;
        background-color: $black;
            &__logo {
                width: 20%;
                padding: 1rem 0; 
                display: inline-block;
    
        }
            &__logo img{
                width: 30%;
                max-height: 70px;
                display: inline-block;
        }
    }   

    
.navbar__menu{
    height: 100%;
    font-size: 16px;
    width: $ancho-xxl;
    display: inline-block;
    text-align: center;
    
        &__item{
            display: inline-block;
            margin: 0.9rem 1rem;
            position: relative;

        }
            &__item:hover > a{
                background-color: $secondary;    
                color: $gold;
            
            }

            a{ 
                    display: block;
                    color: #ac851b;
                    font-size: .9rem;
                    transition: ease 0.3s;
                    padding: 1rem 1.5rem;
                    border-radius: 1rem;
                    background-color:$primary;

            }           
 }
  
 
.navbar__menu__item__submenu{         
    color: #ac851b;
    display: none;
    font-size: 12px;
    position: absolute;
    padding: 0.6 0.3rem;
    min-width: 100px;
    text-align: left;
    

}

.navbar .navbar__menu > li:hover > .navbar__menu__item__submenu{
    display: block;}

.navbar__menu__item__submenu__item:hover > a {
    background-color: $secondary;
    color:  gold;
    display: block;
    padding: 1rem 1.5rem;
    width: 100%;
    border-radius: 0.9rem;
        
}        
.navbar__menu__item__submenu__item > a {
    display: block;
    padding: 1rem 1.5rem;
    width: $ancho-xxxl;
    color: #ac851b;
    border-radius: 0.9rem;
    background-color: none;
}

  
        
 .navbar__menu > .navbar__menu__item__submenu__item  > li:hover > a {
       color: cornflowerblue;
    }



    @media (max-width: 1000px){
        .navbar__menu {
            width: 100%;
            display: grid;
        }
    }

    @media (max-width: 1000px){
        .navbar__menu >li >a {
            width:  70%;
            font-size: 10px; 
            display: grid;
            margin: 0.6rem 0.8rem;

        }   
    }

    @media (max-width: 1000px){
        .navbar__menu >li .navbar__menu__item__submenu >li >a {
            width: 100%;
            font-size: 7px; 
            height: auto;

        }
    }

    
    @media (max-width: 574px){
        .Navegacion{
            width: 100%;
            margin-bottom: 30px;
        }
    }

    @media (max-width: 360px){
        .Navegacion .Menu{
            width: 100%;
            font-size: 3px; 
            display: grid;

        }
    }

    @media (max-width: 360px){
        .Navegacion .Menu >li >a{
            width: 100%;
            font-size: 8px; 
            display: grid;

        }
    }

    @media (max-width: 360px){
        .Navegacion .Menu >li .Submenu {
            width: 100%;
            font-size: 5px; 
            height: auto;

        }
    }
